*{
    padding:0;
    margin:0;
    text-align: center;
}
#wrapper{
    background-color: cornflowerblue;
    width: 50%;
    margin: 0 auto 0 auto;
}
p, h3{
    font-size: 200%;
}
hr{
    width: 50%;
    margin: 0 auto 0 auto;
}